body {
  margin: 0;
  padding: 0;
}

.instruction-title {
  font-size: 45px;
}

@media (max-width: 515px) {
  .middle-column {
    max-width: 430px!important;
  }
  .sticky-header {
      height: 250px;
      align-items: flex-end;
  }
  .sticky-header__control > h1 {
    align-self: flex-end;
  }
  .button-container {
    flex-direction: column-reverse;
    padding: 0 16px;
  }
}
@media (min-width: 516px) {
  .button-container {
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    padding: 53px;
  }
}

.step-progress-bar-item--visited {
  animation-name: light;
  animation-duration: 1s;
}

@keyframes light {
  from {background-color: #c4c4c4;}
  to {background-color: #603f98;}
}


*:not(input):not(button) {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}
