body {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .sticky-header {
      height: 250px;
      align-items: flex-end;
  }
  .sticky-header__control > h1 {
    align-self: flex-end;
  }
}

.step-progress-bar-item--visited {
  animation-name: light;
  animation-duration: 1s;
}

@keyframes light {
  from {background-color: #c4c4c4;}
  to {background-color: #603f98;}
}


*:not(input):not(button) {
  animation-duration: 0.5s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}
